@media (min-width:1400px){
    .container{
      max-width: 1040px;  
    }
    
}
@media (min-width:391px) and (max-width:900px){
    .small-pic{
        width: 180px;
        height: 180px;
    }
    .hero{
        flex-direction: column;
    }
    .hero, .portfolio{
        padding-left: 68px;
        padding-right: 68px;
    }
    .hero__img{
        width: 100%;
        object-fit: cover;
    }
}
@media (max-width:390px){
    .hero{
        flex-direction: column;
        padding-left: 17px;
        padding-right: 17px;
    }
    .hero__img{
        width: 100%;
    }
    .portfolio{
        padding-left: 17px;
        padding-right: 17px;
    }
    .small-pic{
        width: 165px;
        height: 165px;
    }
    
}