body {
  font-family: "Ubuntu", sans-serif;
  background: #272a2f;
}
/* header */
.header {
  background: #19849b;
  width: 100%;
}
.header__title {
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}
/* hero */
.hero {
  margin-top: 51px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 68px;
}
.hero__img {
  width: 411px;
  height: 355px;
}
.hero__text {
  width: 100%;
}
.hero__text-title {
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.01em;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 3px solid #19849b;
}
.hero__text-heading {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}
.hero__text-description {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: #ffffff;
}
.modal-content {
  background: #272a2f;
}
.modal-title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.text {
  font-size: 16px;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: #ffffff;
}
.modal-header {
  border-bottom: none;
}
.modal-footer {
  display: block;
  border-top: none;
}
.modal__form-name,
.modal__form-email {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #8ea5ac;
  background: #324b53;
}
.modal__form-message {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #ffffff;
  background: #324b53;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 16px 22px;
}
.btn-primary {
  background: none;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 0;
  padding: 15px 31px;
}
.btn-primary_trigger {
  padding: 14px 86px;
}
/* portfolio */
.portfolio {
  margin-top: 104px;
}
.portfolio > div .row {
  flex-wrap: wrap;

}
 .portfolio > div .col-lg-3{
  padding-bottom: 30px;
}

.portfolio__title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin-bottom: 15px;
}
.portfolio__text {
  margin-bottom: 28px;
}
/* footer */
.footer {
  background: #19849b;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}
.footer__content {
  margin: 42px auto 15px auto;
}
.footer__title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.footer__img {
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: 100px;
  float: left;
}
.footer__contact-info {
  margin-left: 15px;
  display: inline-block;
}
.footer__contact {
  margin-bottom: 6px;
}
.footer__copyright {
  background: #16758a;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 17px;
  padding-bottom: 17px;
}
